
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 33% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;

    --secondary: 214 32% 91%;
    --secondary-foreground: 222 47% 11%;

    --muted: 214 32% 91%;
    --muted-foreground: 217 33% 51%;

    --accent: 214 33% 9%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 216 34% 89%;
    --input: 214 32% 91%;
    --ring: 222 47% 11%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-slate-50 text-foreground font-lato;
  }
}

@layer components {
  .news-card {
    @apply bg-white p-4 rounded-xl shadow-sm border border-slate-50 hover:shadow-md transition-all;
  }
  
  .category-pill {
    @apply px-4 py-2 rounded-full text-sm font-medium transition-colors;
  }
  
  .category-pill.active {
    @apply bg-slate-300 text-slate-400;
  }
}
